In [1]:
 # Set the seed value for the notebook so the results are reproducible
from numpy.random import seed
seed(1)
import tensorflow
tensorflow.keras.__version__

'2.2.4-tf'

In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sklearn
import sklearn.datasets

In [3]:
cc_df = pd.read_csv('Credit_Data_Original.csv')
cc_df.head(10)

,OBS#,CHK_ACCT,DURATION,HISTORY,NEW_CAR,USED_CAR,FURNITURE,RADIO/TV,EDUCATION,RETRAINING,...,AGE,OTHER_INSTALL,RENT,OWN_RES,NUM_CREDITS,JOB,NUM_DEPENDENTS,TELEPHONE,FOREIGN,DEFAULT
0,1,0,6,4,0,0,0,1,0,0,...,67,0,0,1,2,2,1,1,0,0
1,2,1,48,2,0,0,0,1,0,0,...,22,0,0,1,1,2,1,0,0,1
2,3,3,12,4,0,0,0,0,1,0,...,49,0,0,1,1,1,2,0,0,0
3,4,0,42,2,0,0,1,0,0,0,...,45,0,0,0,1,2,2,0,0,0
4,5,0,24,3,1,0,0,0,0,0,...,53,0,0,0,2,2,2,0,0,1
5,6,3,36,2,0,0,0,0,1,0,...,35,0,0,0,1,1,2,1,0,0
6,7,3,24,2,0,0,1,0,0,0,...,53,0,0,1,1,2,1,0,0,0
7,8,1,36,2,0,1,0,0,0,0,...,35,0,1,0,1,3,1,1,0,0
8,9,3,12,2,0,0,0,1,0,0,...,61,0,0,1,1,1,1,0,0,0
9,10,1,30,4,1,0,0,0,0,0,...,28,0,0,1,2,3,1,0,0,1

In [4]:
personalFinancialInfo_df =pd.DataFrame({
                                            "CHK_ACCT": cc_df['CHK_ACCT'],
                                            "SAV_ACCT": cc_df['SAV_ACCT'],
                                            "NUM_CREDITS": cc_df['NUM_CREDITS'],
                                            "HISTORY": cc_df['HISTORY'],
                                            "DEFAULT": cc_df['DEFAULT']                         
}).reset_index(drop=True)

personalFinancialInfo_df

     CHK_ACCT  SAV_ACCT  NUM_CREDITS  HISTORY  DEFAULT
0           0         4            2        4        0
1           1         0            1        2        1
2           3         0            1        4        0
3           0         0            1        2        0
4           0         0            2        3        1
..        ...       ...          ...      ...      ...
995         3         0            1        2        0
996         0         0            1        2        0
997         3         0            1        2        0
998         0         0            1        2        1
999         1         1            1        4        0

[1000 rows x 5 columns]

In [5]:
X = personalFinancialInfo_df.drop("DEFAULT", axis=1)
y = personalFinancialInfo_df["DEFAULT"]
print(X.shape, y.shape)

(1000, 4) (1000,)

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

In [7]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=.25)

In [8]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [9]:
# Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

In [10]:
# Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [11]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [12]:
# Create model and add layers
model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim=4))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=2, activation='softmax'))

In [13]:
# Compile and fit the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 100)               500
_________________________________________________________________
dense_1 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_2 (Dense)              (None, 2)                 202
=================================================================
Total params: 10,802
Trainable params: 10,802
Non-trainable params: 0
_________________________________________________________________

In [14]:
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=50,
    shuffle=True,
    verbose=2
)

Train on 750 samples
Epoch 1/50
750/750 - 1s - loss: 0.5795 - accuracy: 0.6920
Epoch 2/50
750/750 - 0s - loss: 0.5516 - accuracy: 0.6987
Epoch 3/50
750/750 - 0s - loss: 0.5393 - accuracy: 0.7107
Epoch 4/50
750/750 - 0s - loss: 0.5319 - accuracy: 0.7253
Epoch 5/50
750/750 - 0s - loss: 0.5255 - accuracy: 0.7320
Epoch 6/50
750/750 - 0s - loss: 0.5213 - accuracy: 0.7293
Epoch 7/50
750/750 - 0s - loss: 0.5181 - accuracy: 0.7267
Epoch 8/50
750/750 - 0s - loss: 0.5187 - accuracy: 0.7387
Epoch 9/50
750/750 - 0s - loss: 0.5146 - accuracy: 0.7293
Epoch 10/50
750/750 - 0s - loss: 0.5124 - accuracy: 0.7267
Epoch 11/50
750/750 - 0s - loss: 0.5162 - accuracy: 0.7240
Epoch 12/50
750/750 - 0s - loss: 0.5109 - accuracy: 0.7347
Epoch 13/50
750/750 - 0s - loss: 0.5127 - accuracy: 0.7320
Epoch 14/50
750/750 - 0s - loss: 0.5088 - accuracy: 0.7320
Epoch 15/50
750/750 - 0s - loss: 0.5098 - accuracy: 0.7360
Epoch 16/50
750/750 - 0s - loss: 0.5072 - accuracy: 0.7333
Epoch 17/50
750/750 - 0s - loss: 0.5069 - accuracy: 0.7320
Epoch 18/50
750/750 - 0s - loss: 0.5070 - accuracy: 0.7320
Epoch 19/50
750/750 - 0s - loss: 0.5084 - accuracy: 0.7293
Epoch 20/50
750/750 - 0s - loss: 0.5046 - accuracy: 0.7333
Epoch 21/50
750/750 - 0s - loss: 0.5119 - accuracy: 0.7213
Epoch 22/50
750/750 - 0s - loss: 0.5050 - accuracy: 0.7333
Epoch 23/50
750/750 - 0s - loss: 0.5057 - accuracy: 0.7280
Epoch 24/50
750/750 - 0s - loss: 0.5043 - accuracy: 0.7320
Epoch 25/50
750/750 - 0s - loss: 0.5025 - accuracy: 0.7347
Epoch 26/50
750/750 - 0s - loss: 0.5030 - accuracy: 0.7347
Epoch 27/50
750/750 - 0s - loss: 0.5009 - accuracy: 0.7347
Epoch 28/50
750/750 - 0s - loss: 0.5001 - accuracy: 0.7360
Epoch 29/50
750/750 - 0s - loss: 0.5012 - accuracy: 0.7320
Epoch 30/50
750/750 - 0s - loss: 0.5024 - accuracy: 0.7347
Epoch 31/50
750/750 - 0s - loss: 0.5022 - accuracy: 0.7373
Epoch 32/50
750/750 - 0s - loss: 0.4996 - accuracy: 0.7333
Epoch 33/50
750/750 - 0s - loss: 0.5006 - accuracy: 0.7347
Epoch 34/50
750/750 - 0s - loss: 0.4994 - accuracy: 0.7293
Epoch 35/50
750/750 - 0s - loss: 0.5012 - accuracy: 0.7333
Epoch 36/50
750/750 - 0s - loss: 0.4982 - accuracy: 0.7373
Epoch 37/50
750/750 - 0s - loss: 0.4977 - accuracy: 0.7333
Epoch 38/50
750/750 - 0s - loss: 0.4956 - accuracy: 0.7453
Epoch 39/50
750/750 - 0s - loss: 0.4995 - accuracy: 0.7333
Epoch 40/50
750/750 - 0s - loss: 0.4963 - accuracy: 0.7373
Epoch 41/50
750/750 - 0s - loss: 0.4963 - accuracy: 0.7413
Epoch 42/50
750/750 - 0s - loss: 0.4951 - accuracy: 0.7373
Epoch 43/50
750/750 - 0s - loss: 0.4955 - accuracy: 0.7387
Epoch 44/50
750/750 - 0s - loss: 0.4968 - accuracy: 0.7373
Epoch 45/50
750/750 - 0s - loss: 0.4955 - accuracy: 0.7360
Epoch 46/50
750/750 - 0s - loss: 0.4928 - accuracy: 0.7333
Epoch 47/50
750/750 - 0s - loss: 0.4947 - accuracy: 0.7280
Epoch 48/50
750/750 - 0s - loss: 0.4946 - accuracy: 0.7387
Epoch 49/50
750/750 - 0s - loss: 0.4969 - accuracy: 0.7333
Epoch 50/50
750/750 - 0s - loss: 0.4954 - accuracy: 0.7387

In [15]:
print(f"Normal Neural Network ")
print('-----------------------')
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)

Normal Neural Network
-----------------------
250/250 - 0s - loss: 0.5545 - accuracy: 0.7320

In [16]:
# SAFE MODEL!!!
 
model.save("DEFAULT_model_trained_PERSONAL_FINANCIAL_INFO.h5")

In [17]:
# RELOAD!!!!! MODEL!!! YAYYYYY!!
from tensorflow.keras.models import load_model

default_model = load_model("DEFAULT_model_trained_PERSONAL_FINANCIAL_INFO.h5")

In [18]:
print(f"Better Check that Normal Neural Network!! Twice! ")
print('-------------------------------------------------')
model_loss, model_accuracy = default_model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)

Better Check that Normal Neural Network!! Twice!
-------------------------------------------------
250/250 - 0s - loss: 0.5545 - accuracy: 0.7320

In [19]:
# Predicting Default OUTCOMES
encoded_predictions = model.predict_classes(X_test_scaled[:])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

In [20]:
print(f"DEFAULT OUTCOME KEY: (DEFAULT YES: 1 , DEFAULt NO: 0 )")
print(f"------------------------------------------------------")
print(f"Predicted Outcome: {prediction_labels}")
print(f"Actual Outcome: {list(y_test[:])}")

DEFAULT OUTCOME KEY: (DEFAULT YES: 1 , DEFAULt NO: 0 )
------------------------------------------------------
Predicted Outcome: [1 1 1 1 1 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 1 0 0 0 0 0 1 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 1 1 0 0 0 0
 1 1 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0
 0 0 0 0 0 1 0 1 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0 0
 0 0 0 1 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0
 1 0 1 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0]
Actual Outcome: [1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0]

In [21]:
#SAVE VARIABLES TO PLOT 

X_predict = prediction_labels
print(X_predict)
Actual_Outcome= list(y_test[:])
print(Actual_Outcome)

[1 1 1 1 1 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 1 0 0 0 0 0 1 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 1 1 0 0 0 0
 1 1 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0
 0 0 0 0 0 1 0 1 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0 0
 0 0 0 1 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0
 1 0 1 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0]
[1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0]

In [22]:
approval_df =pd.DataFrame({"Prediction Acct Default": X_predict, "Actual Acct Default": Actual_Outcome}).reset_index(drop=True)
approval_df

     Prediction Acct Default  Actual Acct Default
0                          1                    1
1                          1                    0
2                          1                    0
3                          1                    1
4                          1                    1
..                       ...                  ...
245                        0                    0
246                        0                    0
247                        0                    1
248                        0                    0
249                        0                    0

[250 rows x 2 columns]

In [23]:
# ADDED NEW COLUMN, CREATED FOR LOOP FUNCTION, AND  APPLY RETURN
approval_df["Approval_Status"] =""

def Approval_Status(c):
    if c['Prediction Acct Default'] & c['Actual Acct Default']== 1:
        return 'Denied'
    elif c['Prediction Acct Default'] | c['Actual Acct Default']== 0:
        return 'Approved'
    else:
        return 'Pending Further Analysis'
approval_df["Approval_Status"] =approval_df.apply(Approval_Status,axis=1)
approval_df.head(20)

    Prediction Acct Default  Actual Acct Default           Approval_Status
0                         1                    1                    Denied
1                         1                    0  Pending Further Analysis
2                         1                    0  Pending Further Analysis
3                         1                    1                    Denied
4                         1                    1                    Denied
5                         0                    0                  Approved
6                         0                    0                  Approved
7                         0                    0                  Approved
8                         0                    0                  Approved
9                         0                    0                  Approved
10                        1                    1                    Denied
11                        1                    0  Pending Further Analysis
12                        0                    0                  Approved
13                        0                    0                  Approved
14                        0                    0                  Approved
15                        0                    0                  Approved
16                        0                    0                  Approved
17                        0                    0                  Approved
18                        0                    0                  Approved
19                        0                    1  Pending Further Analysis

In [24]:
statusValueCount= approval_df["Approval_Status"].value_counts()
statusValueCount

Approved                    157
Pending Further Analysis     67
Denied                       26
Name: Approval_Status, dtype: int64