In [5]:
import pandas as pd

In [6]:
a=""
b=""
c=""
d=""

In [7]:
Application_codeDetail_DataFrame =pd.DataFrame({"Question Params": ["Amount of Loan",
                                             "Checking_Acct_Bal","Checking_Acct_Bal","Checking_Acct_Bal","Checking_Acct_Bal",
                                             "Application_Age",
                                             "Loan_Duration",
                                             "Credit_History","Credit_History","Credit_History","Credit_History","Credit_History",
                                             "Years_Employed","Years_Employed","Years_Employed","Years_Employed","Years_Employed",
                                             "Saving_Acct_Bal","Saving_Acct_Bal","Saving_Acct_Bal","Saving_Acct_Bal","Saving_Acct_Bal",
                                             "Install_Rate",
                                             "Years_of_Residency","Years_of_Residency","Years_of_Residency","Years_of_Residency",
                                             "Type_of_Job","Type_of_Job","Type_of_Job","Type_of_Job"],
                         "Answer Style":['Input_Entry',
                                         'Drop_Down','Drop_Down','Drop_Down','Drop_Down',
                                         'Input_Entry',
                                         'Input_Entry',
                                         'Drop_Down','Drop_Down','Drop_Down','Drop_Down','Drop_Down',
                                         'Drop_Down','Drop_Down','Drop_Down','Drop_Down','Drop_Down',
                                         'Drop_Down','Drop_Down','Drop_Down','Drop_Down','Drop_Down',
                                         'Input_Entry',
                                         'Drop_Down','Drop_Down','Drop_Down','Drop_Down',
                                         'Drop_Down','Drop_Down','Drop_Down','Drop_Down'],
                         "Answer_Input":['250:18000',
                                         '0 Balance','Less_than_$200','$200 and Above','No_Checking',
                                        '19:75',
                                        '4:72',
                                        'No_Credit_History','No_Late_Payments_With_W.E.','Current_With_Other_Creditors','Any_Overall_Late_Payments','Crictical_Acct',
                                        'Unemployed','Less_Than_1yr','1yr_to_Almost_4yrs','4yrs_to_Almost_7yrs','7yrs_plus',
                                        'Less_Than_$100','100_to_$499','500_to_$1000','Greater_than_$1000','N/A_or_No_Savings',
                                        '1:4',
                                        'Less_than_1yr','1yr_to_Almost_2yrs','2yrs_to_Almost_3yrs','4yrs_plus',
                                        'Unemployed','Unskilled_Employee','Skilled_Employee','Management'
                                        ],
                         "OutPut_To_DataFrame": [a,0,1,2,3,b,c,0,1,2,3,4,0,1,2,3,4,0,1,2,3,4,d,1,2,3,4,0,1,2,3],
                         "List_Output_Variable":["a","_","_","_","_","b","c","_","_","_","_","_","_","_","_","_","_","_","_","_","_","_","d","_","_","_","_","_","_","_","_"]
                        
                        
                        
                        
                        
                        })
Application_codeDetail_DataFrame

,Question Params,Answer Style,Answer_Input,OutPut_To_DataFrame,List_Output_Variable
0,Amount of Loan,Input_Entry,250:18000,,a
1,Checking_Acct_Bal,Drop_Down,0 Balance,0,_
2,Checking_Acct_Bal,Drop_Down,Less_than_$200,1,_
3,Checking_Acct_Bal,Drop_Down,$200 and Above,2,_
4,Checking_Acct_Bal,Drop_Down,No_Checking,3,_
5,Application_Age,Input_Entry,19:75,,b
6,Loan_Duration,Input_Entry,4:72,,c
7,Credit_History,Drop_Down,No_Credit_History,0,_
8,Credit_History,Drop_Down,No_Late_Payments_With_W.E.,1,_
9,Credit_History,Drop_Down,Current_With_Other_Creditors,2,_
10,Credit_History,Drop_Down,Any_Overall_Late_Payments,3,_
11,Credit_History,Drop_Down,Crictical_Acct,4,_
12,Years_Employed,Drop_Down,Unemployed,0,_
13,Years_Employed,Drop_Down,Less_Than_1yr,1,_
14,Years_Employed,Drop_Down,1yr_to_Almost_4yrs,2,_
15,Years_Employed,Drop_Down,4yrs_to_Almost_7yrs,3,_
16,Years_Employed,Drop_Down,7yrs_plus,4,_
17,Saving_Acct_Bal,Drop_Down,Less_Than_$100,0,_
18,Saving_Acct_Bal,Drop_Down,100_to_$499,1,_
19,Saving_Acct_Bal,Drop_Down,500_to_$1000,2,_
20,Saving_Acct_Bal,Drop_Down,Greater_than_$1000,3,_
21,Saving_Acct_Bal,Drop_Down,N/A_or_No_Savings,4,_
22,Install_Rate,Input_Entry,1:4,,d
23,Years_of_Residency,Drop_Down,Less_than_1yr,1,_
24,Years_of_Residency,Drop_Down,1yr_to_Almost_2yrs,2,_
25,Years_of_Residency,Drop_Down,2yrs_to_Almost_3yrs,3,_
26,Years_of_Residency,Drop_Down,4yrs_plus,4,_
27,Type_of_Job,Drop_Down,Unemployed,0,_
28,Type_of_Job,Drop_Down,Unskilled_Employee,1,_
29,Type_of_Job,Drop_Down,Skilled_Employee,2,_
30,Type_of_Job,Drop_Down,Management,3,_

In [9]:
Application_codeDetail_DataFrame

,Question Params,Answer Style,Answer_Input,OutPut_To_DataFrame,List_Output_Variable
0,Amount of Loan,Input_Entry,250:18000,,a
1,Checking_Acct_Bal,Drop_Down,0 Balance,0,_
2,Checking_Acct_Bal,Drop_Down,Less_than_$200,1,_
3,Checking_Acct_Bal,Drop_Down,$200 and Above,2,_
4,Checking_Acct_Bal,Drop_Down,No_Checking,3,_
5,Application_Age,Input_Entry,19:75,,b
6,Loan_Duration,Input_Entry,4:72,,c
7,Credit_History,Drop_Down,No_Credit_History,0,_
8,Credit_History,Drop_Down,No_Late_Payments_With_W.E.,1,_
9,Credit_History,Drop_Down,Current_With_Other_Creditors,2,_
10,Credit_History,Drop_Down,Any_Overall_Late_Payments,3,_
11,Credit_History,Drop_Down,Crictical_Acct,4,_
12,Years_Employed,Drop_Down,Unemployed,0,_
13,Years_Employed,Drop_Down,Less_Than_1yr,1,_
14,Years_Employed,Drop_Down,1yr_to_Almost_4yrs,2,_
15,Years_Employed,Drop_Down,4yrs_to_Almost_7yrs,3,_
16,Years_Employed,Drop_Down,7yrs_plus,4,_
17,Saving_Acct_Bal,Drop_Down,Less_Than_$100,0,_
18,Saving_Acct_Bal,Drop_Down,100_to_$499,1,_
19,Saving_Acct_Bal,Drop_Down,500_to_$1000,2,_
20,Saving_Acct_Bal,Drop_Down,Greater_than_$1000,3,_
21,Saving_Acct_Bal,Drop_Down,N/A_or_No_Savings,4,_
22,Install_Rate,Input_Entry,1:4,,d
23,Years_of_Residency,Drop_Down,Less_than_1yr,1,_
24,Years_of_Residency,Drop_Down,1yr_to_Almost_2yrs,2,_
25,Years_of_Residency,Drop_Down,2yrs_to_Almost_3yrs,3,_
26,Years_of_Residency,Drop_Down,4yrs_plus,4,_
27,Type_of_Job,Drop_Down,Unemployed,0,_
28,Type_of_Job,Drop_Down,Unskilled_Employee,1,_
29,Type_of_Job,Drop_Down,Skilled_Employee,2,_
30,Type_of_Job,Drop_Down,Management,3,_

In [4]:
Application_codeDetail_DataFrame.to_csv('Application_codeDetail_DataFrame.csv', index=False)